// HEADING STYLES
.heading-1 {
    font-size: 6.5rem;
    line-height: 6.5rem;
}

.heading-2 {
    font-size: 4rem;
}

.heading-3 {
    font-size: 2.5rem;
}

// BUTTON STYLES
.btn {
    display: inline-block;
    font-size: 1.8rem;
    padding: 1.5rem 2.5rem;
    border-radius: 5px;
    border: 1px solid $color-blue;
    background-color: $color-blue;
    cursor: pointer;
    color: $color-white;
    text-decoration: none;
    transition: 0.2s;
    text-align: center;

    &:hover {
        background-color: transparent;
        color: $color-black;
    }
}

// HELPER CLASSES
.color-blue {
    color: $color-blue;
    font-weight: 500;
}

.color-blue-underscore {
    color: $color-blue;
    font-weight: 700;
    border-bottom: 1px solid $color-blue;
}
